.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    background: #E5E5E5;
    border-radius: 41px;
}
.card-title{
    min-height: 3rem;
}
.card-text{
    min-height: 10rem;
    font-family: 'Roboto', sans-serif;

}
.card-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    size: 1cm;

    color: #706B6B;
}
.link_mapa{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #3043EE;
    text-decoration: none;
}

